@using Microsoft.AspNetCore.Components.Routing
@using MonitoreoTamanioBD.Components.Layout

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="m-4 text-danger">Lo siento, esa página no existe.</p>
        </LayoutView>
    </NotFound>
</Router>
